<div class="container-fluid view1">
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-md-6 col-lg-6 col-s-12">
        <img src="../../assets/img/logo.png" id="logo" > Blad-e
      </h1>
      <ul class="col-md-6 col-lg-6 col-s-12 nav1">
        <li><button class="btn btn-success"><i class="fas fa-home"></i>Acceuil</button></li>
        <li><button class="btn btn-success"><i class="fas fa-exclamation-circle"></i>Info</button></li>
        <li><button class="btn btn-primary" id="connecter" routerLink="/login"><i class="fas fa-rocket"></i>Se Connecter</button><button class="btn btn-primary" id="inscrire" routerLink="/registera"><i class="fas fa-address-book" ></i>S'inscrire</button></li>

      </ul>

    </div>
  </div>

  <div class="bodyView container">
    <h1 class="text-center" id="titre">Decouvrez le Maroc avec des randonnees </h1>
    <div class="row" id="home">
      <div class="col-lg-6 col-md-6 " id="imgHome">

      </div>
      <div class="col-lg-6 col-md-6 colonne2">
        <ul>
          <li><h5><a routerLink="/ins"><i class="  fas fa-warehouse icon "></i></a>hospitalité</h5> </li>
          <li><h5><i class="fas fa-user-friends icon"></i>Guides Competents </h5></li>
          <li><h5><i class="fas fa-route icon"></i>Nouvelles Destinations</h5></li>
          <li><h5><a routerLink="/footer"><i class="fas fa-envelope icon"></i></a>Systeme de messagerie</h5></li>
        </ul>
      </div>

    </div>


  </div>

</div>

<div class="container-fluid padding">

  <h1 class="text-center text-dark ">Nos Voyages</h1>
  <nav class="navbar navbar-light bg-light search2 ">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="serach2"type="submit">Search</button>
    </form>
  </nav>
</div>
<div class="row padding">
  <div class="col-md-4">
    <div class="card">
      <img  class="card-img-top"  src="../../assets/img/nature.jpg" >
      <div class="card-body">
        <h4 class="card-title">Nature</h4>
        <p class="card-text"> DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA</p>
        <a href="#" class="btn btn-outline-secondary">Voir les randonnees </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/desert.jpg">
      <div class="card-body">
        <h4 class="card-title">Desert</h4>
        <p class="card-text"> DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA </p>
        <a href="#" class="btn btn-outline-secondary">Voir les randonnees</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/culture.jpg">
      <div class="card-body">
        <h4 class="card-title">Culture</h4>
        <p class="card-text"> DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA</p>
        <a href="#" class="btn btn-outline-secondary">Voir les randonnees</a>
      </div>
    </div>
  </div>



</div>



<div class="container-fluid padding">

  <h1 class="text-center text-dark ">Meilleurs Destinations </h1>
  <nav class="navbar navbar-light bg-light search2 ">

  </nav>
</div>
<div class="row padding">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/11.jpg">
      <div class="card-body" style="  background: linear-gradient(to right, #ffff00 28%, #ff9966 68%);">
        <h4 class="card-title">Chefchaouen</h4>

        <p class="card-text" > DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/33.jpg">
      <div class="card-body" style="  background: linear-gradient(to right, #ffff00 28%, #ff9966 68%); ">
        <h4 class="card-title" >Ait Heddou</h4>

        <p class="card-text"  > DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/22.jpg">
      <div class="card-body"style=" background: linear-gradient(to right, #ffff00 28%, #ff9966 68%);">
        <h4 class="card-title">Dalia</h4>
        <p class="card-text " > DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA  DescriptionADescriptionADescriptionA</p>

      </div>
    </div>
  </div>



</div>


<footer class="site-footer" id="foot">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Blad-e est un site  qui permet de visiter de nouvelles destinations et decouvrir le Maroc</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Desert</a></li>
          <li><a href="">Nature</a></li>
          <li><a href="">Culture</a></li>

        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>les liens</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Blad-e</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="far fa-rocket"></i></a></li>
          <li><a class="twitter" href="#"><i class="far fa-twitter"></i></a></li>

          <li><a class="linkedin" href="#"><i class="far fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


