html {
  height: 100%;
  background-image: url("insc.jpg");
  background-size: 100%;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background: url("insc.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  /* The image used */
  background-image: url("insc.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 80px;
    padding-left:40px;
    background: white;
}
legend {
   color: black;
   position: center;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 120%;
}

