<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Hospitalite</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='hospitalite.component.css'>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">



</head>
<body>
<div class="container-fluid view1">
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-md-6 col-lg-6 col-s-12">
        <img src="assets/img/logo.png" id="farmer" > Blad-e
      </h1>

      <ul class="col-md-6 col-lg-6 col-s-12 nav1">
        <br>
        <li><button class="btn btn-primary" id="inscrire" routerLink="/login"><i class="fa fa-rocket"></i>Se Connecter</button></li>
        <li><button class="btn btn-primary" routerLink="/registera" id="inscrire"><i class="fa fa-address-book"></i>S'inscrire</button></li>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <br>
    <h3> Soyez les bienvenus chers visiteurs ! </h3>
  </div>
</div>
<div>
  <br>
  <p></p>
  <p style="text-align: center; color: white;  font-family: Ubuntu; font-size: 20px">Le Maroc, l'un des trois pays les plus visités du continent africain depuis plus d'une décennie, est aujourd'hui encore l'une des destinations favorites des touristes du monde entier. Chaque année, ils sont des millions à traverser le globe pour découvrir les beautés du pays.
    Blad-e vous permet ainsi de trouver une activité intéressante à essayer ou une destination exploitable et aventureuse à découvrir au sein des trésors cachés dans les ville de notre Royaume.
  </p>
</div>
</body>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Blad-e est un site  qui vous permet de découvrir ce que cache le  magnifique Royaume du Maroc .</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tags</h6>
        <ul class="footer-links">
          <li><a>Maroc</a></li>
          <li><a>Nature</a></li>
          <li><a>Plage</a></li>
          <li><a>Desert</a></li>
          <li><a>Culture</a></li>
          <li><a>Voyage</a></li>



        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Contact info</h6>
        <ul class="footer-links">
          <li><a href="https://www.gmail.com">projetblad.e@gmail.com</a></li>
          <li><a href="">+212 639273688</a></li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a routerLink="/accueil">Blad-e</a>.
        </p>
      </div>


    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
