
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<p></p>

<div class="container-fluid view1">
    <div class="container-fluid">
      <div class="row">
        <h1 class="col-md-6 col-lg-6 col-s-12">
          <img src="../../assets/img/logo.png" id="logo" > Blad-e
        </h1>
        <ul class="col-md-6 col-lg-6 col-s-12 nav1">

        </ul>

      </div>

  <!--div class="alert alert-danger" *ngIf="mode==0 && errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>-->
      <div class="panel panel-success" *ngIf="mode==1">
  <div class="panel-heading">
    <strong>Registration Success</strong>
  </div>
  <div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item"> Your ID :{{user.id}} </li>
    <li class="list-group-item"> Your username :{{user.username}} </li>
    <li class="list-group-item"> Your role:{{user.nom}} </li>
    <li class="list-group-item"> Your role:<h2 style="color: red"   > User </h2> </li>


  </ul>

</div>

</div>







  <div id="ins" class="col-md-7 col-sm-6 col-xs-12 "  *ngIf="mode==0">
    <div class="panel panel-default"  >
      <div class="panel-heading "  ><h1 class="text-center">Inscription</h1> </div>
      <div class="panel-body" >

        <form #f="ngForm" name="form" [formGroup]="form">

          <div class="form-group">

            <label class="control-label"><h2>E-mail</h2></label>
            <input type="email" class="form-control"  placeholder="xyz@email.com"
                   formControlName="username" [ngClass]="{'is-invalid':form.get('username').touched && form.get('username').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6>Email is required</h6></div>
            </div>
          </div>
          <br>
          <br>

          <div class="form-group">

            <label class="control-label"><h2>Prenom</h2></label>
            <input type="text" class="form-control"  placeholder="Prenom"
                   formControlName="prenom" [ngClass]="{'is-invalid':form.get('prenom').touched && form.get('prenom').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6>Prenom is required</h6></div>
            </div>
          </div>
          <br>
          <br>

          <div class="form-group">

            <label class="control-label"><h2>Nom</h2></label>
            <input type="text" class="form-control"  placeholder="Nom"
                   formControlName="nom" [ngClass]="{'is-invalid':form.get('nom').touched && form.get('nom').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6>Name is required</h6></div>
            </div>
          </div>
          <br>
          <br>


          <div class="form-group">

            <label class="control-label"><h2>Annee Naissance </h2></label>
            <input type="number" class="form-control"  placeholder="2020" pattern="\d{4}"
                   formControlName="datenaiss" [ngClass]="{'is-invalid':form.get('datenaiss').touched && form.get('datenaiss').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6>Annee is required (4 digits )</h6></div>
            </div>
          </div>
          <br>
          <br>

          <div class="form-group">

            <label class="control-label"><h2>Lieu Naissance</h2></label>
            <input type="text" class="form-control"  placeholder="Lieu"
                   formControlName="lieunaiss" [ngClass]="{'is-invalid':form.get('lieunaiss').touched && form.get('lieunaiss').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6>Lieu Naissance is required</h6></div>
            </div>
          </div>
          <br>
          <br>



          <div class="form-group">

            <label class="control-label"><h2>Tel</h2></label>
            <input type="text" class="form-control"  placeholder="+(212)611111111"
                   formControlName="tel" [ngClass]="{'is-invalid':form.get('tel').touched && form.get('tel').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6>Tel is required</h6> </div>
            </div>
          </div>
          <br>
          <br>
          <br>

          <div class="form-group">

            <label class="control-label"><h2>Mot de Passe</h2></label>
            <input type="password" class="form-control"  placeholder="abc21"
                   formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" ngModel required />
            <div class="invalid-feedback">
              <div><h6> required</h6></div>
            </div>
          </div>
          <br>
          <br>
          <div class="form-group">

            <label class="control-label"><h2>Confirmez Mot de Passe</h2></label>
            <input type="password" class="form-control"  placeholder="abc21"
                   formControlName="repassword" [ngClass]="{'is-invalid':form.get('repassword').touched && form.get('repassword').invalid}"  ngModel required />
            <div class="invalid-feedback">
              <div><h6> required</h6></div>
            </div>
          </div>
          <br>
          <br>





          <button   class="btn btn-success"  [disabled]="!form.valid" (click)="onRegister(f.value)">S'inscrire</button>

        </form>



      </div>




      <div class="alert alert-danger" *ngIf="mode==0 && errorMessage">
        <strong>{{errorMessage}}</strong>
      </div>

  </div>

</div>
</div>
</div>
<app-footer></app-footer>



