/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: blue;
    text-align: center;
    color: white;
}

html, body {
  height: 100%;
}



h2 {
  font-family: "Arial Black";
  font-size: larger;
  color: black;
  font-weight: bold;
}

table, td, tr, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: gainsboro;
}

h3 {
  text-align: center;
}
