<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Voyages disponibles</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='voyage-list.component.css'>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">



</head>
<body>

  <div class="container-fluid view1">
    <div class="container-fluid">
      <div class="row">
        <h1 class="col-md-6 col-lg-6 col-s-12">
          <img src="assets/img/logo.png" id="farmer">
          <a class="navbar-brand" href="accueil2">Blad-e</a>

        </h1>
        <ul class="col-md-6 col-lg-6 col-sm-12 nav1">
          <li><button class="btn btn-success" id="deconnecter" routerLink="/accueil"><i class="fas fa-sign-out-alt"></i>Se Deconnecter</button></li>
        </ul>
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Voici les voyages disponibles sur notre site</h3>
    </div>
    <div>

    </div>




    <br />
    <div class="panel-body fixed-panel ">
      <table class="table table" *ngIf="voyages">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of voyages ">
            <td><font color="#fff">{{v.categorie}}</font></td>
            <td><font color="#fff">{{v.destination}}</font></td>
            <td><font color="#fff">{{v.description}}</font></td>
            <td><font color="#fff">{{v.prix}}</font></td>
            <td>
              <input type="button" id="button1" value="Participer" routerLink="/add" (click)="OnClicked(v.destination,v.prix)" />

            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>


  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Blad-e est un site  qui vous permet de découvrir ce que cache le  magnifique Royaume du Maroc .</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Tags</h6>
          <ul class="footer-links">
            <li><a>Maroc</a></li>
            <li><a>Nature</a></li>
            <li><a>Plage</a></li>
            <li><a>Desert</a></li>
            <li><a>Culture</a></li>
            <li><a>Voyage</a></li>



          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contact info</h6>
          <ul class="footer-links">
            <li><a href="https://www.gmail.com">projetblad.e@gmail.com</a></li>
            <li><a href="">+212 639273688</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2020 All Rights Reserved by
            <a routerLink="/accueil">Blad-e</a>.
          </p>
        </div>


      </div>
    </div>
  </footer>
</body>
</html>
